@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
input {
    all: unset;
  }
header {

    font-size: 35px;
    display: flex;
    justify-content: space-between;  /* Распределение элементов */
    align-items: center;  /* Вертикальное выравнивание элементов по центру */
    position: relative;
    padding: 0 20px;  /* Отступы */
    height: 60px;

    background-color: #ffdf27;
}
.logo {
    user-select: none;
    flex-grow: 1;
    text-align: left;
}
.LogMainButt {
    user-select: none;
    padding-top: 5px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: auto;
    text-align: center;
    inline-size: 60px;
    height: 40px;
    width: 120px;
    color: white;
    background-color:  #ffdf27;
}
.LogMainButt:hover {
    background-color:  #ffffff;
    color: black;
}
.accMailMENU {
    user-select: none;
    margin-left: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.accMailMENU:hover {
    color: black;
}

.tableReg {
    user-select: none;
    margin-top: 20px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 200px;
    padding: 30px;
    background-color: aliceblue;
}
.pole {
    min-width: 330px;
    margin-top: 5px;
    min-height: 60px;
    border-radius: 20px;
    background-color: rgb(237, 237, 237);
}
.poleHole {
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    min-height: 40px;
    border-radius: 13px;
    background-color: rgb(237, 237, 237);
}
.poleHole:hover {
    color: #ffffff;
    background-color: #ffdf27;
}
.statusHole1 {
    width: 25px;
    height: 25px;
    background-color: rgb(132, 255, 121);
    border-radius: 1000px;
}
.statusHole2 {
    width: 25px;
    height: 25px;
    background-color: rgb(223, 223, 223);
    border-radius: 1000px;
}
.statusHole3 {
    width: 25px;
    height: 25px;
    background-color: rgb(223, 223, 223);
    border-radius: 1000px;
}
.poleHoleWithStatus {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;  /* Распределение элементов */
    align-items: center;  /* Вертикальное выравнивание элементов по центру */
    position: relative;
}

main {
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10000px, auto));
    align-items: start;
    justify-items: center;
    justify-content: center; /* Центрирование сетки по правому краю */

    height: 1180px;
    width: 100%;
    background-color: rgb(241, 240, 234);
}
footer {
    height: 50px;
    width: 100%;
    background-color: rgb(162, 162, 162);
    line-height: 50px;
    text-align: center;
    color: rgb(233, 233, 233);
}
.table {
    user-select: none;
    margin-top: 20px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 180px;
    padding: 30px;
    background-color: aliceblue;
}
.table2 {
    user-select: none;
    margin-top: 20px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    background-color: aliceblue;
}
.table3 {
    font-size: 25px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: aliceblue;
}
.table3Reg{
    margin-top: 10px;
    user-select: none;
    font-size: 25px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: aliceblue;
}
.table3Reg:hover {

    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ffdf27;
}
.table4 {
    padding: 30px;
}
.table3:hover {

    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ffdf27;
}
.content {
    margin: 30px 30px 30px 30px;

}
.img {
    width: 100px;
}
.status {
    text-align: left;
}
.statusON {
    color:rgb(132, 255, 121);
    font-weight: bolder;
    text-align: right;
}
.statusRZ {
    display: flex;
    justify-content: space-between;  /* Распределение элементов */
    align-items: center;  /* Вертикальное выравнивание элементов по центру */
    position: relative;

}

.table3LogOut{
    margin-top: 10px;
    user-select: none;
    font-size: 25px;
    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: aliceblue;
}
.table3LogOut:hover {

    border-radius: 30px;
    min-width: 330px;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    background-color: #ff5f33;
}